:host {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

.container {
    align-items: center;
    background-color: var(--flux-authentication-background-color);
    color: var(--flux-authentication-foreground-color);
    height: auto;
    max-width: calc(100% - 20px);
    padding: 10px;
    width: auto;
}

flux-loading-spinner {
    --flux-loading-spinner-color: var(--flux-authentication-foreground-color);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    max-width: 100%;
    width: auto;
}

button {
    -webkit-tap-highlight-color: transparent;
    background-color: var(--flux-authentication-button-background-color);
    border: none;
    border-radius: 0;
    color: var(--flux-authentication-button-foreground-color);
    cursor: default;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

button:not(:disabled) {
    cursor: pointer;
}

button:disabled {
    opacity: 0.6;
}

button:not(:disabled):hover,
button:not(:disabled):active {
    background-color: var(--flux-authentication-active-button-background-color);
    color: var(--flux-authentication-active-button-foreground-color);
}
